
.slide-footer {
    height: 150px;
    width: 100%;
}
.slide-footer-item {
    height: 150px;
}
.footer {
    background-color:  #C0C0C0; 
    /* #363534; */
    /* #2a2a2a; */
}

p.h5, a.h5 {
    font-weight: 400;
}
.footer .container .row p.h3 {
    font-weight: 600;
}