/* .slide-footer {
    height: 150px;
    width: 100%;
}
.slide-footer-item {
    height: 150px;
}
.footer {
    background-color:  #C0C0C0; 
}

p.h5, a.h5 {
    font-weight: 400;
}
.footer .container .row p.h3 {
    font-weight: 600;
}
.text-style{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
.text-style-second a, .text-style-second p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
} */