.img-display {
    
}
.img-display > img {
    object-fit: cover;
    width: 100%;
    height: auto
}

.img-product-thumbnail{
    height: 100px;
    width: 400px;
}

.img-product-thumbnail button{
    border: none;
    

}
button.btn-sendComment {
    display: block;
    width: 100px;
}
a.require-login {
    cursor: pointer;
    color: red;
}